$Azul: #6b97cf
$Oscuro: #21334B
$Oscuro2: #374F6B
$Claro: #A1ACB9
$Texto: "Helvetica", Sans-Serif

.banner
    height: 200px
    background-color: $Azul
    display: flex
    text-align: center

.texto-banner
    color: $Oscuro
    font-family: 'Lobster', cursive
    font-size: 3rem
    vertical-align: middle
    margin: auto

.navbar
    background-color: $Oscuro

.nombre
    font-weight: bold

.sidebar
    padding: 10px
    background-color: $Claro
    width: 20%
    img
        margin: 5px
        width: 100%

footer
    background-color: $Oscuro
    color: white
    text-align: center
    padding: 5px

.icono
    color: white
    margin: 5px

.blog
    padding: 20px
    width: 80%
    display: flex
    flex-direction: column
    p
        justify-content: center
    img
        width: 50%

ul
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    background-color: $Oscuro

li
    float: left
    a
        display: block
        color: white
        text-align: center
        padding: 14px 16px
        text-decoration: none
    a:hover
        background-color: $Oscuro2

.contacto
    float: right
    background-color: $Oscuro2

nav, aside, article, footer
    font-family: $Texto